# 1. Create a string with your name and print i

In [1]:
name = "Pragya"
print(name)

Pragya

2. Find the length of the string "Hello World"

In [2]:
text = "Hello World"
print(len(text))

11


# 3. Slice the first 3 characters from "Python Programming"

In [ ]:
string = "Python Programming"
print(string[:3])

 4. Convert "hello" to uppercase

In [ ]:
word = "hello"
print(word.upper())

5. Replace "apple" with "orange" in "I like apple"

In [ ]:
sentence = "i like apple"
print(sentence.replace("apple","orange"))

6. Create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

7. Append 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

 9. Access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

10. Reverse the list [10, 20, 30, 40, 50]

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

11. Create a tuple with elements 100, 200, 300 and print it

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

12. Access the second-to-last element of the tuple

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

13. Find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
nums = (10, 20, 5, 15)
print(min(nums))

 14. Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

15. Create a tuple of fruits and check if "kiwi" is in it

In [ ]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

16. Create a set with the elements 'a', 'b', 'c' and print it

In [3]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

18. Remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

19. Union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set1 = {1, 2, 3} set2 = {3, 4, 5} print(set1.union(set2))

 20. Intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

21. Create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

22. Add a new key-value pair "country": "USA" to the dictionary

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

23. Access the value associated with the key "name"

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

24. Remove the key "age" from the dictionary

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

25. Check if the key "city" exists in the dictionary

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

26. Create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

27. Create a list of 5 random numbers between 1 and 100, sort in ascending order, and print
import random

In [ ]:
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print(random_list)

28. Create a list with strings and print the element at the third index

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "fig"]
print(string_list[3])

29. Combine two dictionaries into one and print the result

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)